@model LoginViewModel

@{
    Layout = "_BlankLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/signin.css" />
}

<form asp-action="Login" asp-antiforgery="true" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">@ViewData["Title"]</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label asp-for="UserName" class="sr-only"></label>
    <input asp-for="UserName" type="text" class="form-control" placeholder="@nameof(Model.UserName)" required autofocus>
    <label asp-for="Password" class="sr-only">@nameof(Model.Password)</label>
    <input asp-for="Password" type="password" class="form-control" placeholder="@nameof(Model.Password)" required>
    <div class="checkbox mb-3">
        <label>
            <input asp-for="RememberMe" type="checkbox"> @nameof(Model.RememberMe)
        </label>
    </div>
    <input asp-for="ReturnUrl" readonly hidden />
    <button class="btn btn-lg btn-primary btn-block" type="submit">@ViewData["BtnSubmitLogin"]</button>
    <a class="btn btn-lg btn-info btn-block" asp-action="Register">@ViewData["Registration"]</a>
</form>